body {
    background-color: #a78f7a;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 3em;
    max-height: 100vh;
}

#v0 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

 #set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}

h1 {
    font-size: 3em;
    background: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}
p { 
    font-size: 1.5em;
        background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
        backdrop-filter: blur(10px); /* Apply blur effect to content behind */
        border-radius: 10px; /* Rounded corners */
        padding: 20px; /* Add padding for content */
        width: 25vw;
}

section:nth-of-type(1) {
    height: 360vh;
}
section:nth-of-type(2) {
    height: 300vh;
}
section:nth-of-type(3) {
    height: 200vh;
}
section:nth-of-type(4) {
    height: 250vh;
}
section:nth-of-type(5) {
    height: 1000vh;
}

.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


/* Landscape mode */
@media screen and (max-width: 896px) and (orientation: landscape) {
    section:nth-of-type(1) {
        height: 820vh;
    }
    section:nth-of-type(2) {
        height: 600vh;
    }
    section:nth-of-type(3) {
        height: 400vh;
    }
    section:nth-of-type(4) {
        height: 500vh;
    }
    section:nth-of-type(5) {
        height: 100vh;
    }

    h1 {
        font-size: 2em;
        background: #fff;
        display: inline-block;
        padding: 5px 7.5px;
        border-radius: 5px;
        margin: 0;
    }
    p { 
        font-size: 1em;
            background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
            backdrop-filter: blur(10px); /* Apply blur effect to content behind */
            border-radius: 5px; /* Rounded corners */
            padding: 5px; /* Add padding for content */
            width: 40vw;
    }
    
  }
  
  /* Portrait mode */
  @media screen and (max-width: 414px) and (orientation: portrait) {
    /* Your CSS styles for portrait orientation on iPhone 11 */
  }
   